* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
/* ||UTILITY CLASSES */

/* HERO CONTENT START */

main {
    flex-grow: 1;
}

.hero-image .hands {
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-logo {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 15px;
}

.hero-image .cta {
    position: absolute;
    top: 80%;
    left: 45%;
    color: white;
    outline: 3px solid white;
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
    border-radius: 12px;
    text-shadow: 2px 2px 5px #000;
    box-shadow: 5px 5px 8px #000;
}
/* HERO CONTENT END */

/* STICKY NAV START */
nav {
    height: 80px;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1;
}

nav ul {
    padding: 25px;
    margin: 0 20px 0 0;
}

nav ul li {
    padding: 0;
    margin: 0;
    display: block;
    float: right;
}

nav ul li a {
    display: block;
    box-sizing: border-box;
    height: 100%;
    font-size: 24px;
    padding: 0 10px 0 10px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

nav img {
    box-sizing: border-box;
    width: 70px;
    height: 70px;
    position: absolute;
    margin-left: 50px;
    margin-top: 5px;
}

a {
    cursor: pointer;
}

a:hover {
    color: grey;
}

a:active {
    color: darkgray;
}
/* STICKY NAV END */

/* OUR STORY START */
.container {
    max-height: 100vh;
}

.container img {
    width: 100%;
}

.container .cta {
    position: absolute;
    top: 220%;
    left: 45.5%;
    color: white;
    outline: 3px solid white;
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    text-shadow: 5px 5px 5px #000;
    box-shadow: 5px 5px 10px #000;
}
/* OUR STORY END */
/* SERVICE INFO START */
.essay {
    height: 100vh;
    background-color: #000;
}

.essay h2 {
    box-sizing: border-box;
    position: relative;
    color: white;
    top: 155px;
    left: 50px;
    font-size: 50px;
}

.essay .first {
    box-sizing: border-box;
    position: relative;
    color: white;
    top: 190px;
    left: 100px;
    font-size: 20px;
}

.essay .service {
    box-sizing: border-box;
    position: relative;
    color: white;
    top: 34%;
    left: 18%;
    font-size: 22px;
}

.essay .building {
    box-sizing: border-box;
    position: relative;
    top: 32%;
    left: 22%;
}

.essay .second {
    box-sizing: border-box;
    position: relative;
    color: white;
    top: 36%;
    left: 15%;
}

.essay .cena {
    box-sizing: border-box;
    position: relative;
    color: white;
    top: 260px;
    left: 20%;
    font-size: 22px;
}

.essay .bread {
    box-sizing: border-box;
    position: relative;
    top: 37%;
    left: 23%;
}

.essay .third {
    box-sizing: border-box;
    position: relative;
    color: white;
    top: 265px;
    left: 14%;
}

.essay .pray {
    box-sizing: border-box;
    position: relative;
    color: white;
    top: -20%;
    left: 67%;
}

.essay .bible {
    box-sizing: border-box;
    position: relative;
    top: -23%;
    left: 73%;
}

.essay .fourth {
    box-sizing: border-box;
    position: relative;
    color: white;
    top: -18%;
    left: 64%;
}

.essay .moon {
    box-sizing: border-box;
    position: relative;
    top: -4%;
    left: 73.5%;
}

.essay .night {
    box-sizing: border-box;
    position: relative;
    color: white;
    top: -2%;
    left: 74%;
}

.essay .fifth {
    box-sizing: border-box;
    position: relative;
    color: white;
    top: 0%;
    left: 67%;
}

.essay .cta {
    position: absolute;
    left: 44%;
    top: 309%;
    color: white;
    outline: 3px solid white;
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    text-shadow: 5px 5px 5px #000;
    box-shadow: 5px 5px 10px #000;
}
/* SERVICE INFO END */
/* FOOTER START */

.end img {
    box-sizing: border-box;
    position: absolute;
    left: 12%;
    top: 331%;
}

