* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Oswald;
    font-weight: 400;
}
/* ||UTILITY CLASSES */
html {
    max-width: 100%;
    height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
/* ||UTILITY CLASSES END */

/* HERO CONTENT START */

main {
    flex-grow: 1;
}

header {
    display: flex;
}

.hero-image {
    position: relative;
}

.hero-image .hands {
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-image .gram {
    box-sizing: border-box;
    position: absolute;
    top: 10%;
    left: 90%;
}

.hero-logo {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 15px;
}

.hero-image .cta {
    position: absolute;
    top: 80%;
    left: 46%;
    color: white;
    outline: 3px solid white;
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
    border-radius: 12px;
    text-shadow: 2px 2px 5px #000;
    box-shadow: 5px 5px 8px #000;
}
/* HERO CONTENT END */

/* STICKY NAV START */
nav {
    height: 80px;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1;
}

nav ul {
    padding: 25px;
    margin: 0 20px 0 0;
}

nav ul li {
    padding: 0;
    margin: 0;
    display: block;
    float: right;
}

nav ul li a {
    display: block;
    box-sizing: border-box;
    height: 100%;
    font-size: 24px;
    padding: 1px 10px 0 10px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

nav img {
    box-sizing: border-box;
    width: 70px;
    height: 70px;
    position: absolute;
    margin-left: 50px;
    margin-top: 7px;
}

a {
    cursor: pointer;
    color: black;
}

a:hover {
    color: grey;
}

a:active {
    color: darkgray;
}
/* STICKY NAV END */

/* OUR STORY START */
.cover {
    max-height: 100vh;
    position: relative;
}

.cover img {
    width: 100%;
    position: relative;
}

.cover .cta {
    position: absolute;
    top: 80%;
    left: 45.5%;
    color: white;
    outline: 3px solid white;
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    text-shadow: 5px 5px 5px #000;
    box-shadow: 5px 5px 10px #000;
}
/* OUR STORY END */
/* SERVICE INFO START */
.essay {
    position: relative;
    height: 100vh;
    background: radial-gradient(circle at 10% 20%, rgb(0, 0, 0) 0%, rgb(64, 64, 64) 90.2%);
    display: flex;
    flex-direction: column;
}

.essay h2 {
    box-sizing: border-box;
    position: absolute;
    color: white;
    top: 8%;
    left: 32.5%;
    font-size: 50px;
}

.essay .first {
    box-sizing: border-box;
    position: absolute;
    color: white;
    top: 155px;
    left: 35.5%;
    font-size: 20px;
}

.essay .service {
    box-sizing: border-box;
    position: absolute;
    color: white;
    top: 35%;
    left: 12%;
    font-size: 22px;
}

.essay .building {
    box-sizing: border-box;
    position: absolute;
    top: 27%;
    left: 15%;
}

.essay .second {
    box-sizing: border-box;
    position: absolute;
    color: white;
    top: 40%;
    left: 8%;
}

.essay .cena {
    box-sizing: border-box;
    position: absolute;
    color: white;
    top: 65%;
    left: 13.5%;
    font-size: 22px;
}

.essay .bread {
    box-sizing: border-box;
    position: absolute;
    top: 57%;
    left: 15.5%;
}

.essay .third {
    box-sizing: border-box;
    position: absolute;
    color: white;
    top: 71%;
    left: 7.5%;
}

.essay .pray {
    box-sizing: border-box;
    position: absolute;
    color: white;
    top: 35%;
    left: 75%;
}

.essay .bible {
    box-sizing: border-box;
    position: absolute;
    top: 27%;
    left: 80%;
}

.essay .fourth {
    box-sizing: border-box;
    position: absolute;
    color: white;
    top: 40%;
    left: 72%;
}

.essay .moon {
    box-sizing: border-box;
    position: absolute;
    top: 57%;
    left: 80.5%;
}

.essay .night {
    box-sizing: border-box;
    position: absolute;
    color: white;
    top: 65%;
    left: 81%;
}

.essay .fifth {
    box-sizing: border-box;
    position: absolute;
    color: white;
    top: 71%;
    left: 74%;
}

.essay .cta {
    position: absolute;
    left: 42.5%;
    top: 55%;
    color: white;
    outline: 3px solid white;
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    text-shadow: 5px 5px 5px #000;
    box-shadow: 5px 5px 10px #000;
}
/* SERVICE INFO END */
/* FOOTER START */

hr {
    border: 2px solid black;
    position: relative;
    left: 6%;
    width: 88%;
}

footer {
    position: relative;
}

footer .short {
    box-sizing: border-box;
    position: absolute;
    left: 8%;
    top: 31%;
}

.end .long {
    box-sizing: border-box;
    position: absolute;
    left: 11.5%;
    top: 16.5%;
}

address {
    box-sizing: border-box;
    position: absolute;
    left: 11%;
    top: 55%;
}

footer .map {
    box-sizing: border-box;
    position: absolute;
    top: 55%;
    left: 8.3%;
}

footer p {
    position: absolute;
    left: 41%;
}

footer a {
    text-decoration: none;
}

footer .insta {
    box-sizing: border-box;
    position: absolute;
    left: 90%;
    top: 35%;
}
/* FOOTER END */

/* MEDIA QUERIES START */

@media screen and (max-width: 1400px) {
    html {
        max-width: 1400px;
    }
}

@media screen and (max-width: 1201px) {
    html {
        max-width: 1200px;
    }
    .container {
        max-width: 1200px;
    }
    header {
        width: 1200px;
    }
    .hero-image {
        margin-left: -4.5%;
    }
    .hero-image .cta {
        left: 45.5%;
    }
    main {
        width: 1200px;
    }
    nav {
        margin-left: -4.5%;
    }
    nav ul {
        margin: 0 60px 0 0;
    }
    .cover {
        width: 1200px;
    }
    .cover img {
        margin-left: -4.5%;
    }
    .cover .cta {
        left: 41%;
    }
    .essay {
        width: 1200px;
        margin-left: -4.4%;
    }
}

@media screen and (max-width: 901px) {
    html {
        max-width: 900px;
    }
    .container {
        max-width: 900px;
    }
    header {
        width: 900px;
    }
     .hero-logo {
        left: 52.5%;
    }
    .hero-image .cta {
        left: 47%;
    }
    nav img {
        left: 3%;
    }
    nav ul {
        margin-right: 25%;
    }
    nav ul li a {
        font-size: 1.3rem;
    }
    .cover {
        width: 900px;
    }
    .cover img {
        margin-left: -1%;
    }
    .cover .cta {
        left: 43%;
    }
    .essay {
        width: 900px;
        margin-left: 0;
    }
    .essay h2, h3, p {
        transform: scale(.6);
        margin-left: -5%;
    }
    .essay h2 {
        margin-left: -7%;
    }
    .essay .first {
        margin-left: -6.5%;
    }
    .essay img {
        transform: scale(.6);
        margin-left: -3.5%;
    }
    .night {
        margin-left: -3%;
    }
    .service {
        margin-left: -4.5%;
    }
    .cena {
        margin-left: -4%;
    }
    .essay .cta {
        transform: scale(.7);
        left: 40%;
    }
    .end .long {
        left: 13%;
    }
    .end p {
        font-size: 1.5rem;
        left: 37%;
    }
}

@media screen and (max-width: 601px) {
    html {
        max-width: 600px;
    }
    .container {
        max-width: 600px;
    }
    header {
        width: 600px;
        height: 500px;
    }
    .hero-image .cta {
        left: 43%;
    }
    nav {
        height: 80px;
    }
    nav img {
        top: -5%;
    }
    nav ul {
        margin-right: 50%;
    }
    nav ul, li, a {
        padding-top: 20px;
    }
    .cover {
        width: 600px;
    }
    .cover .cta {
        transform: scale(.8);
        left: 41%;
    }
    .essay {
        width: 600px;
    }
    .essay h2 {
        margin-left: -20%;
    }
    .essay .first {
        display: none;
    }
    .essay .service {
        margin-left: -7%;
    }
    .essay .second {
        margin-left: -10%;
    }
    .essay .cena {
        margin-left: -5.5%;
    }
    .essay .bread {
        margin-left: -4%;
    }
    .essay .third {
        margin-left: -12%;
    }
    .essay .pray {
        margin-left: -10%;
    }
    .essay .fourth {
        margin-left: -7%;
    }
    .essay .fifth {
        margin-left: -8%;
    }
    .essay .cta {
        left: 35%;
    }
    .end .long {
        left: 15%;
    }
    address {
        font-size: .8rem;
        left: 15%;
    }
    .end .insta {
        width: 22px;
        height: 22px;
    }
    .end p {
        left: 25%;
    }
}

@media screen and (max-width: 450px) and (-webkit-device-pixel-ratio: 2) {
    html {
        max-width: 449px;
    }
    .container {
        max-width: 449px;
    }
    header {
        overflow-x: hidden;
        overflow-y: auto;
        width: 449px;
        height: 400px;
    }
    .hero-logo {
        width: 200px;
        height: 200px;
        margin-left: -1%;
    }
    .hero-image .hands {
        width: 100%;
        height: 400px;
    }
    .hero-image .cta {
        font-size: 1rem;
        top: 50%;
        left: 41%;
    }
    .hero-image .gram {
        left: 85%;
    }
    nav {
        display: none;
    }
    .cover .cta {
        display: none;
    }
    .cover {
        width: 449px;
    }
    .cover img {
        width: 449px;
        margin-left: 0;
    }
    .essay {
        width: 449px;
        height: 700px;
    }
    .essay .cta {
        top: 88.5%;
        left: 28%;
    }
    .essay h2 {
        font-size: 2rem;
        top: 3%;
        left: 37%;
    }
    .essay .building {
        left: 46%;
        top: 13%;
    }
    .essay .service {
        left: 41%;
        top: 20%;
    }
    .essay .second {
        left: 33%;
        top: 23%;
    }
    .essay .bread {
        left: 47.5%;
        top: 31%;
    }
    .essay .cena {
        left: 44%;
        top: 38%;
    }
    .essay .third {
        left: 32%;
        top: 41%;
    }
    .essay .bible {
        left: 46%;
        top: 50%;
    }
    .essay .pray {
        font-size: 1.25rem;
        left: 35.5%;
        top: 56%;
    }
    .essay .fourth {
        left: 25%;
        top: 58%;
    }
    .essay .moon {
        left: 46%;
        top: 67%;
    }
    .essay .night {
        font-size: 1.25rem;
        left: 47%;
        top: 73%;
    }
    .essay .fifth  {
        left: 31%;
        top: 75%;
    }
    .end .short {
        left: 44.5%;
        top: 15%;
    }
    .end .map {
        left: 46%;
        top: 38%;
    }
    .end address {
        left: 30%;
        top: 53%;
    }
    .end .insta {
        top: 75%;
        left: 46%;
    }
    .end p {
        left: 16%;
    }
    .end .long {
        display: none;
    }
}
@media screen and (max-width: 415px) and (-webkit-device-pixel-ratio: 2) {
    html {
        overflow-x: hidden;
        max-width: 414px;
    }
    .container {
        max-width: 414px;
    }
    header {
        max-width: 414px;
        height: 300px;
    }
    .hero-image .hands {
        max-width: 435px;
        height: 100%;
    }
    .hero-image .cta {
        font-size: 1.25rem;
        border-radius: 10px;
        top: 50%;
        left: 40%;
    }
    .hero-image .hero-logo {
        left: 53.5%;
        top: 15%;
    }
    .hero-image .gram {
        width: 20px;
        height: 20px;
        left: 87%;
    }
    nav {
        display: none;
    }
    .cover .cta {
        display: none;
    }
    .cover {
        max-width: 414px;
    }
    .essay {
        width: 414px;
        height: 600px;
    }
    .essay .cta {
        font-size: 1rem;
        border-radius: 10px;
        top: 88%;
        left: 32%;
    }
    .essay h2 {
        font-size: 1.5rem;
        top: 3%;
        left: 44%;
    }
    .essay .building {
        width: 40px;
        height: 40px;
        left: 48.5%;
        top: 13%;
    }
    .essay .service {
        font-size: 1rem;
        left: 45.5%;
        top: 19%;
    }
    .essay .second {
        left: 32%;
        top: 22%;
    }
    .essay .bread {
        width: 40px;
        height: 40px;
        left: 49%;
        top: 30%;
    }
    .essay .cena {
        font-size: 1rem;
        left: 47%;
        top: 36%;
    }
    .essay .third {
        left: 31.5%;
        top: 38%;
    }
    .essay .bible {
        width: 40px;
        height: 40px;
        left: 48%;
        top: 49%;
    }
    .essay .pray {
        font-size: 1rem;
        left: 39%;
        top: 55%;
    }
    .essay .fourth {
        left: 24%;
        top: 57%;
    }
    .essay .moon {
        width: 40px;
        height: 40px;
        left: 47.5%;
        top: 67%;
    }
    .essay .night {
        font-size: 1rem;
        left: 47.5%;
        top: 72%;
    }
    .essay .fifth  {
        left: 29%;
        top: 74%;
    }
    .end .short {
        left: 44.5%;
        top: 15%;
    }
    .end .map {
        left: 46%;
        top: 38%;
    }
    .end address {
        left: 30%;
        top: 53%;
    }
    .end .insta {
        top: 75%;
        left: 46%;
    }
    .end p {
        left: 12%;
    }
    .end .long {
        display: none;
    }
}
/* MEDIA QUERIES END */